<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Acessando o indice da lista -->        
<div id="app">
    <!-- 
        É interessante utilizar o key, serve para o vue como dica para o vue saber exatamente como rastrear cada um dos elementos 
    -->
    <ul>
        <li v-for="(cor, i) in cores" :key="cor">{{  i+1 }}) {{ cor }}</li>
    </ul>
    <button @click="cores.push('branca')">Adicionar</button>
    <hr/>
    <template v-for="(cor, i) in cores">
        <h4>{{cor}}</h4>
        <p>{{i}}</p>
    </template>
    <hr/>
    <ul>
        <li v-for="pessoa in pessoas">
            {{pessoa.nome}}
            <div v-for="(valor, chave, index) in pessoa">
                {{index+1}}) {{chave}} = {{valor}}
            </div>
        </li>
    </ul>
    <hr>
    <span v-for="n in 10">{{n}}</span>
</div>

<!-- Instância Vue -->
<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Ana', idade: 26, peso: 70},
                {nome: 'Guilherme', idade: 22, peso: 89}
            ]
        }
    });
</script>